.version._2015 /* version checker */
{
	color: #0000ED;
	background-color: #3BABB5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -3px;
	padding-top: 19px;
	width: 0.01px;
}

#pu564
{
	width: 0.01px;
	margin-left: 373px;
}

#u564
{
	z-index: 68;
	width: 561px;
	height: 3px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 6px;
}

#u212-4
{
	z-index: 69;
	margin-right: -10000px;
}

#slideshowu1189
{
	z-index: 77;
	width: 0.01px;
	height: 1223px;
	margin-left: 128px;
	margin-top: 42px;
	position: relative;
}

#u1194
{
	position: absolute;
	width: 705px;
	height: 478px;
	background-color: transparent;
}

#u1194popup
{
	z-index: 78;
}

#u1199
{
	z-index: 79;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1199_img
{
	padding-left: 108px;
	padding-right: 108px;
}

#u1393
{
	z-index: 81;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1393_img
{
	padding-left: 108px;
	padding-right: 107px;
}

#u1402
{
	z-index: 83;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1402_img
{
	margin-top: -12px;
	margin-bottom: -13px;
}

#u1411
{
	z-index: 85;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1411_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u1420
{
	z-index: 87;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1420_img
{
	margin-top: -16px;
	margin-bottom: -17px;
}

#u1429
{
	z-index: 89;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1429_img
{
	margin-top: -31px;
	margin-bottom: -31px;
}

#u1447
{
	z-index: 91;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1447_img
{
	padding-left: 193px;
	padding-right: 193px;
}

#u1456
{
	z-index: 93;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1609
{
	z-index: 95;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1465
{
	z-index: 97;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1474
{
	z-index: 99;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1483
{
	z-index: 101;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1483_img
{
	margin-top: -7px;
	margin-bottom: -8px;
}

#u1492
{
	z-index: 103;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1492_img
{
	margin-top: -4px;
	margin-bottom: -4px;
}

#u1501
{
	z-index: 105;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1501_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u1438
{
	z-index: 107;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1438_img
{
	padding-left: 173px;
	padding-right: 173px;
}

#u1510
{
	z-index: 109;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1510_img
{
	margin-top: -5px;
	margin-bottom: -6px;
}

#u1519
{
	z-index: 111;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1519_img
{
	margin-top: -1px;
	margin-bottom: -2px;
}

#u1528
{
	z-index: 113;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1528_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u1537
{
	z-index: 115;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1537_img
{
	padding-top: 25px;
	padding-bottom: 25px;
}

#u1546
{
	z-index: 117;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1555
{
	z-index: 119;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1546_img,#u1555_img
{
	margin-left: -9px;
	margin-right: -10px;
}

#u1573
{
	z-index: 121;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1564
{
	z-index: 123;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1465_img,#u1474_img,#u1564_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u1582
{
	z-index: 125;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1402_clip,#u1411_clip,#u1420_clip,#u1429_clip,#u1465_clip,#u1474_clip,#u1483_clip,#u1492_clip,#u1501_clip,#u1510_clip,#u1519_clip,#u1528_clip,#u1546_clip,#u1555_clip,#u1564_clip,#u1582_clip
{
	overflow: hidden;
	width: 705px;
	height: 478px;
}

#u1582_img
{
	margin-top: -34px;
	margin-bottom: -34px;
}

#u1591
{
	z-index: 127;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1600
{
	z-index: 129;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1573_img,#u1591_img,#u1600_img
{
	padding-left: 184px;
	padding-right: 183px;
}

#u1618
{
	z-index: 131;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1618_img
{
	padding-top: 198px;
	padding-bottom: 197px;
}

#u1645
{
	z-index: 133;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1645_img
{
	padding-left: 39px;
	padding-right: 38px;
}

#u1627
{
	z-index: 135;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1636
{
	z-index: 137;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1627_img,#u1636_img
{
	padding-left: 46px;
	padding-right: 45px;
}

#u1654
{
	z-index: 139;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1654_img
{
	padding-left: 111px;
	padding-right: 111px;
}

#u1663
{
	z-index: 141;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1663:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4967
{
	z-index: 143;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1663:active,#u4967:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4976
{
	z-index: 145;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4967:active,#u4976:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4985
{
	z-index: 147;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4976:active,#u4985:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4994
{
	z-index: 149;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4985:active,#u4994:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5003
{
	z-index: 151;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4994:active,#u5003:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5012
{
	z-index: 153;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5003:active,#u5012:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5021
{
	z-index: 155;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5012:active,#u5021:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5030
{
	z-index: 157;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5021:active,#u5030:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5039
{
	z-index: 159;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5030:active,#u5039:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5048
{
	z-index: 161;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5039:active,#u5048:hover
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5048:active
{
	background-color: transparent;
	width: 705px;
	height: 478px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5057
{
	z-index: 163;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4967_img,#u4976_img,#u4985_img,#u4994_img,#u5003_img,#u5012_img,#u5021_img,#u5030_img,#u5039_img,#u5048_img,#u5057_img
{
	padding-left: 43px;
	padding-right: 43px;
}

#u1672
{
	z-index: 165;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1681
{
	z-index: 167;
	width: 705px;
	height: 478px;
	border-style: none;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1663_img,#u1672_img,#u1681_img
{
	padding-top: 19px;
	padding-bottom: 18px;
}

#u1206
{
	position: absolute;
	width: 705px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 545px;
}

#u1206popup
{
	z-index: 169;
}

#u1211
{
	z-index: 170;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#u1211:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1396
{
	z-index: 172;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 123px;
}

#u1396:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1405
{
	z-index: 174;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u1405:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1414
{
	z-index: 176;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#u1414:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1414_img
{
	margin-left: -1px;
}

#u1423
{
	z-index: 178;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u1423:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1423_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u1432
{
	z-index: 180;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 591px;
}

#u1432:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1211.SSSlideLinkSelected,#u1396.SSSlideLinkSelected,#u1405.SSSlideLinkSelected,#u1414.SSSlideLinkSelected,#u1423.SSSlideLinkSelected,#u1432.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1450
{
	z-index: 182;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 6px;
}

#u1450:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1459
{
	z-index: 184;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 123px;
}

#u1459:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1612
{
	z-index: 186;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 240px;
}

#u1612:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1468
{
	z-index: 188;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 357px;
}

#u1468:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1477
{
	z-index: 190;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 474px;
}

#u1477:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1486
{
	z-index: 192;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 591px;
}

#u1486:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1450.SSSlideLinkSelected,#u1459.SSSlideLinkSelected,#u1612.SSSlideLinkSelected,#u1468.SSSlideLinkSelected,#u1477.SSSlideLinkSelected,#u1486.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#u1495
{
	z-index: 194;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 6px;
}

#u1495:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u1495_img
{
	margin-left: -2px;
	margin-right: -1px;
}

#u1504
{
	z-index: 196;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 123px;
}

#u1504:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u1486_img,#u1504_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u1441
{
	z-index: 198;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 240px;
}

#u1441:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u1513
{
	z-index: 200;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 357px;
}

#u1513:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u1522
{
	z-index: 202;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 474px;
}

#u1522:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u1522_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u1531
{
	z-index: 204;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 591px;
}

#u1531:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u1495.SSSlideLinkSelected,#u1504.SSSlideLinkSelected,#u1441.SSSlideLinkSelected,#u1513.SSSlideLinkSelected,#u1522.SSSlideLinkSelected,#u1531.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 172px -10000px 0px 0px;
}

#u1513_img,#u1531_img
{
	margin-left: -1px;
	margin-right: -2px;
}

#u1540
{
	z-index: 206;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 6px;
}

#u1540:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 258px -10000px 0px 0px;
}

#u1540_img
{
	margin-left: -9px;
	margin-right: -9px;
}

#u1549
{
	z-index: 208;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 123px;
}

#u1549:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 258px -10000px 0px 0px;
}

#u1558
{
	z-index: 210;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 240px;
}

#u1558:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 258px -10000px 0px 0px;
}

#u1549_img,#u1558_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u1576
{
	z-index: 212;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 357px;
}

#u1576:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 258px -10000px 0px 0px;
}

#u1567
{
	z-index: 214;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 474px;
}

#u1567:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 258px -10000px 0px 0px;
}

#u1468_img,#u1477_img,#u1567_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u1585
{
	z-index: 216;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 258px;
	left: 591px;
}

#u1585:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 258px -10000px 0px 0px;
}

#u1540.SSSlideLinkSelected,#u1549.SSSlideLinkSelected,#u1558.SSSlideLinkSelected,#u1576.SSSlideLinkSelected,#u1567.SSSlideLinkSelected,#u1585.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 258px -10000px 0px 0px;
}

#u1585_img
{
	margin-top: -3px;
	margin-bottom: -4px;
}

#u1594
{
	z-index: 218;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 6px;
}

#u1594:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u1603
{
	z-index: 220;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 123px;
}

#u1603:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u1621
{
	z-index: 222;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 240px;
}

#u1621:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u1648
{
	z-index: 224;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 357px;
}

#u1648:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u1432_img,#u1648_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u1630
{
	z-index: 226;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 474px;
}

#u1630:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u1639
{
	z-index: 228;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 591px;
}

#u1639:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u1594.SSSlideLinkSelected,#u1603.SSSlideLinkSelected,#u1621.SSSlideLinkSelected,#u1648.SSSlideLinkSelected,#u1630.SSSlideLinkSelected,#u1639.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
}

#u1630_img,#u1639_img
{
	margin-top: -4px;
	margin-bottom: -3px;
}

#u1657
{
	z-index: 230;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 6px;
}

#u1657:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 430px -10000px 0px 0px;
}

#u1666
{
	z-index: 232;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 123px;
}

#u1666:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 430px -10000px 0px 0px;
}

#u4970
{
	z-index: 234;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 240px;
}

#u4970:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 430px -10000px 0px 0px;
}

#u4979
{
	z-index: 236;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 357px;
}

#u4979:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 430px -10000px 0px 0px;
}

#u4988
{
	z-index: 238;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 474px;
}

#u4988:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 430px -10000px 0px 0px;
}

#u4997
{
	z-index: 240;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 591px;
}

#u4997:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 430px -10000px 0px 0px;
}

#u1657.SSSlideLinkSelected,#u1666.SSSlideLinkSelected,#u4970.SSSlideLinkSelected,#u4979.SSSlideLinkSelected,#u4988.SSSlideLinkSelected,#u4997.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 430px -10000px 0px 0px;
}

#u5006
{
	z-index: 242;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 6px;
}

#u5006:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 516px -10000px 0px 0px;
}

#u5015
{
	z-index: 244;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 123px;
}

#u5015:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 516px -10000px 0px 0px;
}

#u5024
{
	z-index: 246;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 240px;
}

#u5024:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 516px -10000px 0px 0px;
}

#u5033
{
	z-index: 248;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 357px;
}

#u5033:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 516px -10000px 0px 0px;
}

#u5042
{
	z-index: 250;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 474px;
}

#u5042:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 516px -10000px 0px 0px;
}

#u5051
{
	z-index: 252;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 591px;
}

#u5051:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 516px -10000px 0px 0px;
}

#u5006.SSSlideLinkSelected,#u5015.SSSlideLinkSelected,#u5024.SSSlideLinkSelected,#u5033.SSSlideLinkSelected,#u5042.SSSlideLinkSelected,#u5051.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 516px -10000px 0px 0px;
}

#u5060
{
	z-index: 254;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: 6px;
}

#u5060:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 602px -10000px 0px 0px;
}

#u4970_img,#u4979_img,#u4988_img,#u4997_img,#u5006_img,#u5015_img,#u5024_img,#u5033_img,#u5042_img,#u5051_img,#u5060_img
{
	padding-left: 4px;
	padding-right: 5px;
}

#u1675
{
	z-index: 256;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: 123px;
}

#u1675:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 602px -10000px 0px 0px;
}

#u1684
{
	z-index: 258;
	width: 107px;
	height: 76px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 602px;
	left: 240px;
}

#u1684:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 602px -10000px 0px 0px;
}

#u5060.SSSlideLinkSelected,#u1675.SSSlideLinkSelected,#u1684.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 107px;
	height: 76px;
	min-height: 0px;
	margin: 602px -10000px 0px 0px;
}

#u1414_clip,#u1423_clip,#u1432_clip,#u1468_clip,#u1477_clip,#u1486_clip,#u1495_clip,#u1504_clip,#u1513_clip,#u1522_clip,#u1531_clip,#u1540_clip,#u1549_clip,#u1558_clip,#u1567_clip,#u1585_clip,#u1648_clip,#u1630_clip,#u1639_clip,#u1666_clip,#u1675_clip,#u1684_clip
{
	overflow: hidden;
	width: 107px;
	height: 76px;
}

#u1666_img,#u1675_img,#u1684_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u1190
{
	position: absolute;
	width: 372px;
	background-color: transparent;
	top: 495px;
}

#u1190popup
{
	z-index: 260;
}

#u1191-4
{
	z-index: 261;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1399-4
{
	z-index: 265;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1408-4
{
	z-index: 269;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1417-4
{
	z-index: 273;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1426-4
{
	z-index: 277;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1435-4
{
	z-index: 281;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1453-4
{
	z-index: 285;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1462-4
{
	z-index: 289;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1615-4
{
	z-index: 293;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1471-4
{
	z-index: 297;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1480-4
{
	z-index: 301;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1489-4
{
	z-index: 305;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1498-4
{
	z-index: 309;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1507-4
{
	z-index: 313;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1444-4
{
	z-index: 317;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1516-4
{
	z-index: 321;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1525-4
{
	z-index: 325;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1534-4
{
	z-index: 329;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1543-4
{
	z-index: 333;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1552-4
{
	z-index: 337;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1561-4
{
	z-index: 341;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1579-4
{
	z-index: 345;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1570-4
{
	z-index: 349;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1588-4
{
	z-index: 353;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1597-4
{
	z-index: 357;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1606-4
{
	z-index: 361;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1624-4
{
	z-index: 365;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1651-4
{
	z-index: 369;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1633-4
{
	z-index: 373;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1642-4
{
	z-index: 377;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1660-4
{
	z-index: 381;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1669-4
{
	z-index: 385;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4973-4
{
	z-index: 389;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4982-4
{
	z-index: 393;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u4991-4
{
	z-index: 397;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5000-4
{
	z-index: 401;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5009-4
{
	z-index: 405;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5018-4
{
	z-index: 409;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5027-4
{
	z-index: 413;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5036-4
{
	z-index: 417;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5045-4
{
	z-index: 421;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5054-4
{
	z-index: 425;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u5063-4
{
	z-index: 429;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1678-4
{
	z-index: 433;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1687-4
{
	z-index: 437;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u1213-4
{
	position: absolute;
	width: 2px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 495px;
	left: 576px;
}

#u1213-4popup
{
	z-index: 441;
}

#u1213
{
	color: #999999;
}

#u1214-4
{
	position: absolute;
	width: 4px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 495px;
	left: 679px;
}

#u1214-4popup
{
	z-index: 445;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu180
{
	z-index: 2;
	width: 920px;
	margin-left: 20px;
	margin-top: 12px;
}

#u181
{
	width: 228px;
	min-height: 30px;
	margin-right: -10000px;
}

#u184
{
	width: 228px;
	padding-bottom: 18px;
}

#u184:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u184:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u187-4_clip
{
	width: 228px;
	height: 12px;
}

#u188
{
	width: 228px;
	min-height: 30px;
	margin-right: -10000px;
	left: 230px;
}

#u189
{
	width: 228px;
	padding-bottom: 16px;
}

#u184.MuseMenuActive,#u189:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u189:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u189.MuseMenuActive
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u192-4_clip
{
	width: 214px;
	height: 12px;
}

#u190
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 8px;
	left: 214px;
}

#u189:hover #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u189:active #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u189.MuseMenuActive #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u193
{
	width: 228px;
	top: -138px;
}

#u2925
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2925:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u218
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2925.MuseMenuActive,#u218:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u232
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u218.MuseMenuActive,#u232:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u237
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u232.MuseMenuActive,#u237:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u237.MuseMenuActive,#u246:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u194,#u2922,#u217,#u229,#u236,#u243,#u597
{
	width: 228px;
}

#u600
{
	width: 226px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u246.MuseMenuActive,#u600:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2926-4_clip,#u220-4_clip,#u235-4_clip,#u239-4_clip,#u248-4_clip,#u602-4_clip
{
	width: 222px;
	height: 15px;
}

#u2926-4,#u220-4,#u235-4,#u239-4,#u248-4,#u602-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u196
{
	width: 229px;
	min-height: 30px;
	margin-right: -10000px;
	left: 460px;
}

#u197
{
	width: 229px;
	padding-bottom: 18px;
}

#u197:hover
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u197:active
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u203
{
	width: 229px;
	min-height: 30px;
	margin-right: -10000px;
	left: 691px;
}

#u206
{
	width: 229px;
	padding-bottom: 18px;
}

#u197.MuseMenuActive,#u206:hover
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u206:active
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u206.MuseMenuActive
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u200-4_clip,#u208-4_clip
{
	width: 229px;
	height: 12px;
}

#u187-4,#u192-4,#u200-4,#u208-4
{
	margin-right: -10000px;
	top: 9px;
}

#pu561
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#u561
{
	z-index: 67;
	width: 345px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u558-4
{
	z-index: 73;
	margin-right: -10000px;
	left: 346px;
}

#u560
{
	z-index: 66;
	width: 345px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 575px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

