.version.index /* version checker */
{
	color: #0000F7;
	background-color: #303D0C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -3px;
	padding-top: 19px;
	width: 0.01px;
}

#pu564
{
	width: 0.01px;
	margin-left: 373px;
}

#u564
{
	z-index: 68;
	width: 561px;
	height: 3px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 6px;
}

#u212-4
{
	z-index: 69;
	margin-right: -10000px;
}

#slideshowu2430
{
	z-index: 77;
	width: 0.01px;
	height: 442px;
	margin-left: 240px;
	margin-top: 30px;
	position: relative;
}

#u2448
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 92px;
	left: 74px;
	-pie-background: rgba(0,0,0,0.9);
}

#u2448popup
{
	z-index: 78;
}

#u2449
{
	z-index: 79;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2449_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u4864
{
	z-index: 81;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4864_img
{
	padding-left: 100px;
	padding-right: 100px;
}

#u2433
{
	position: absolute;
	width: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 226px;
}

#u2433popup
{
	z-index: 83;
}

#u2438
{
	z-index: 84;
	width: 232px;
	height: 216px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u4867
{
	z-index: 86;
	width: 232px;
	height: 216px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u2438:hover,#u4867:hover
{
	width: 232px;
	height: 216px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2440
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 484px;
	left: 96px;
}

#u2440popup
{
	z-index: 88;
}

#u2441-4
{
	z-index: 89;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4870-4
{
	z-index: 93;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2447-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 484px;
	left: 446px;
}

#u2447-4popup
{
	z-index: 97;
}

#u2432-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 484px;
	left: 546px;
}

#u2432-4popup
{
	z-index: 101;
}

#u2444-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 484px;
	left: 476px;
}

#u2444-4popup
{
	z-index: 105;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu180
{
	z-index: 2;
	width: 920px;
	margin-left: 20px;
	margin-top: 12px;
}

#u181
{
	width: 228px;
	min-height: 30px;
	margin-right: -10000px;
}

#u184
{
	width: 228px;
	padding-bottom: 18px;
}

#u184:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u184:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u187-4_clip
{
	width: 228px;
	height: 12px;
}

#u188
{
	width: 228px;
	min-height: 30px;
	margin-right: -10000px;
	left: 230px;
}

#u189
{
	width: 228px;
	padding-bottom: 16px;
}

#u184.MuseMenuActive,#u189:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u189:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u189.MuseMenuActive
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u192-4_clip
{
	width: 214px;
	height: 12px;
}

#u190
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 8px;
	left: 214px;
}

#u189:hover #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u189:active #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u189.MuseMenuActive #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u193
{
	width: 228px;
	top: -138px;
}

#u2925
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2925:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u218
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2925.MuseMenuActive,#u218:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u232
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u218.MuseMenuActive,#u232:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u237
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u232.MuseMenuActive,#u237:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u237.MuseMenuActive,#u246:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u194,#u2922,#u217,#u229,#u236,#u243,#u597
{
	width: 228px;
}

#u600
{
	width: 226px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u246.MuseMenuActive,#u600:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2926-4_clip,#u220-4_clip,#u235-4_clip,#u239-4_clip,#u248-4_clip,#u602-4_clip
{
	width: 222px;
	height: 15px;
}

#u2926-4,#u220-4,#u235-4,#u239-4,#u248-4,#u602-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u196
{
	width: 229px;
	min-height: 30px;
	margin-right: -10000px;
	left: 460px;
}

#u197
{
	width: 229px;
	padding-bottom: 18px;
}

#u197:hover
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u197:active
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u203
{
	width: 229px;
	min-height: 30px;
	margin-right: -10000px;
	left: 691px;
}

#u206
{
	width: 229px;
	padding-bottom: 18px;
}

#u197.MuseMenuActive,#u206:hover
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u206:active
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u206.MuseMenuActive
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u200-4_clip,#u208-4_clip
{
	width: 229px;
	height: 12px;
}

#u187-4,#u192-4,#u200-4,#u208-4
{
	margin-right: -10000px;
	top: 9px;
}

#pu561
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#u561
{
	z-index: 67;
	width: 345px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u558-4
{
	z-index: 73;
	margin-right: -10000px;
	left: 346px;
}

#u560
{
	z-index: 66;
	width: 345px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 575px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

