.version.prior_work___sketches /* version checker */
{
	color: #0000E7;
	background-color: #AAD380;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -3px;
	padding-top: 19px;
	width: 0.01px;
}

#pu564
{
	width: 0.01px;
	margin-left: 373px;
}

#u564
{
	z-index: 68;
	width: 561px;
	height: 3px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 6px;
}

#u212-4
{
	z-index: 69;
	margin-right: -10000px;
}

#slideshowu2948
{
	z-index: 77;
	width: 0.01px;
	height: 1053px;
	margin-left: 128px;
	margin-top: 29px;
	position: relative;
}

#u2966
{
	position: absolute;
	width: 705px;
	height: 465px;
	background-color: transparent;
}

#u2966popup
{
	z-index: 78;
}

#u2971
{
	z-index: 79;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2971_img
{
	padding-left: 45px;
	padding-right: 44px;
}

#u3073
{
	z-index: 81;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3073_img
{
	padding-left: 44px;
	padding-right: 44px;
}

#u3082
{
	z-index: 83;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3082_img
{
	padding-left: 38px;
	padding-right: 38px;
}

#u3091
{
	z-index: 85;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3091_img
{
	padding-left: 176px;
	padding-right: 177px;
}

#u3100
{
	z-index: 87;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3100_img
{
	padding-left: 74px;
	padding-right: 73px;
}

#u3109
{
	z-index: 89;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3109_img
{
	padding-left: 45px;
	padding-right: 45px;
}

#u3118
{
	z-index: 91;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3118_img
{
	padding-left: 46px;
	padding-right: 47px;
}

#u3127
{
	z-index: 93;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3127_img
{
	padding-left: 245px;
	padding-right: 245px;
}

#u3136
{
	z-index: 95;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3136_img
{
	padding-left: 184px;
	padding-right: 184px;
}

#u3145
{
	z-index: 97;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3145_img
{
	padding-left: 177px;
	padding-right: 178px;
}

#u3154
{
	z-index: 99;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3154_img
{
	padding-left: 133px;
	padding-right: 132px;
}

#u3163
{
	z-index: 101;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3163_img
{
	padding-left: 234px;
	padding-right: 234px;
}

#u3172
{
	z-index: 103;
	width: 705px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3172_img
{
	padding-left: 172px;
	padding-right: 172px;
}

#u2959
{
	position: absolute;
	width: 705px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 527px;
}

#u2959popup
{
	z-index: 105;
}

#u2964
{
	z-index: 106;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 53px;
}

#u2964:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3076
{
	z-index: 108;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u3076:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3076_img
{
	margin-left: -11px;
	margin-right: -11px;
}

#u3085
{
	z-index: 110;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#u3085:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3085_img
{
	margin-left: -11px;
	margin-right: -11px;
	margin-bottom: 3px;
}

#u3094
{
	z-index: 112;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 509px;
}

#u3094:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2964.SSSlideLinkSelected,#u3076.SSSlideLinkSelected,#u3085.SSSlideLinkSelected,#u3094.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3094_img
{
	padding-right: 6px;
}

#u3103
{
	z-index: 114;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 53px;
}

#u3103:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 134px -10000px 0px 0px;
}

#u3103_img
{
	margin-left: -5px;
	margin-right: -2px;
}

#u3112
{
	z-index: 116;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 205px;
}

#u3112:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 134px -10000px 0px 0px;
}

#u2964_img,#u3112_img
{
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 1px;
}

#u3121
{
	z-index: 118;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 357px;
}

#u3121:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 134px -10000px 0px 0px;
}

#u3121_img
{
	margin-left: -14px;
	margin-right: -7px;
}

#u3130
{
	z-index: 120;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 509px;
}

#u3130:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 134px -10000px 0px 0px;
}

#u3103.SSSlideLinkSelected,#u3112.SSSlideLinkSelected,#u3121.SSSlideLinkSelected,#u3130.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 134px -10000px 0px 0px;
}

#u3130_img
{
	padding-right: 56px;
}

#u3139
{
	z-index: 122;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 53px;
}

#u3139:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 268px -10000px 0px 0px;
}

#u3139_img
{
	padding-right: 5px;
}

#u3148
{
	z-index: 124;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 205px;
}

#u3148:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 268px -10000px 0px 0px;
}

#u3148_img
{
	padding-right: 13px;
}

#u3157
{
	z-index: 126;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 357px;
}

#u3157:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 268px -10000px 0px 0px;
}

#u2964_clip,#u3076_clip,#u3085_clip,#u3103_clip,#u3112_clip,#u3121_clip,#u3157_clip
{
	overflow: hidden;
	width: 142px;
	height: 124px;
}

#u3157_img
{
	margin-top: -14px;
	margin-bottom: -12px;
}

#u3166
{
	z-index: 128;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 509px;
}

#u3166:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 268px -10000px 0px 0px;
}

#u3139.SSSlideLinkSelected,#u3148.SSSlideLinkSelected,#u3157.SSSlideLinkSelected,#u3166.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 268px -10000px 0px 0px;
}

#u3166_img
{
	padding-right: 52px;
}

#u3175
{
	z-index: 130;
	width: 142px;
	height: 124px;
	border-color: #6B6B6B;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 402px;
	left: 53px;
}

#u3175:hover
{
	border-color: #6B6B6B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 402px -10000px 0px 0px;
}

#u3175.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	width: 142px;
	height: 124px;
	min-height: 0px;
	margin: 402px -10000px 0px 0px;
}

#u3175_img
{
	padding-right: 11px;
}

#u2949
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 476px;
}

#u2949popup
{
	z-index: 132;
}

#u2950-4
{
	z-index: 133;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3079-4
{
	z-index: 137;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3088-4
{
	z-index: 141;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3097-4
{
	z-index: 145;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3106-4
{
	z-index: 149;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3115-4
{
	z-index: 153;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3124-4
{
	z-index: 157;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3133-4
{
	z-index: 161;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3142-4
{
	z-index: 165;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3151-4
{
	z-index: 169;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3160-4
{
	z-index: 173;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3169-4
{
	z-index: 177;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3178-4
{
	z-index: 181;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2958-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 476px;
	left: 603px;
}

#u2958-4popup
{
	z-index: 185;
}

#u2973-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 476px;
	left: 567px;
}

#u2973-4popup
{
	z-index: 189;
}

#u2958,#u2973
{
	color: #999999;
}

#u2954-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 476px;
	left: 677px;
}

#u2954-4popup
{
	z-index: 193;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu180
{
	z-index: 2;
	width: 920px;
	margin-left: 20px;
	margin-top: 12px;
}

#u181
{
	width: 228px;
	min-height: 30px;
	margin-right: -10000px;
}

#u184
{
	width: 228px;
	padding-bottom: 18px;
}

#u184:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u184:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u187-4_clip
{
	width: 228px;
	height: 12px;
}

#u188
{
	width: 228px;
	min-height: 30px;
	margin-right: -10000px;
	left: 230px;
}

#u189
{
	width: 228px;
	padding-bottom: 16px;
}

#u184.MuseMenuActive,#u189:hover
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u189:active
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u189.MuseMenuActive
{
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u192-4_clip
{
	width: 214px;
	height: 12px;
}

#u190
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 8px;
	left: 214px;
}

#u189:hover #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u189:active #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u189.MuseMenuActive #u190
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u193
{
	width: 228px;
	top: -138px;
}

#u2925
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2925:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u218
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u2925.MuseMenuActive,#u218:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u232
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u218.MuseMenuActive,#u232:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u237
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u232.MuseMenuActive,#u237:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u246
{
	width: 226px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u237.MuseMenuActive,#u246:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u194,#u2922,#u217,#u229,#u236,#u243,#u597
{
	width: 228px;
}

#u600
{
	width: 226px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u246.MuseMenuActive,#u600:hover
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u600.MuseMenuActive
{
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2926-4_clip,#u220-4_clip,#u235-4_clip,#u239-4_clip,#u248-4_clip,#u602-4_clip
{
	width: 222px;
	height: 15px;
}

#u2926-4,#u220-4,#u235-4,#u239-4,#u248-4,#u602-4
{
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u196
{
	width: 229px;
	min-height: 30px;
	margin-right: -10000px;
	left: 460px;
}

#u197
{
	width: 229px;
	padding-bottom: 18px;
}

#u197:hover
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u197:active
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u203
{
	width: 229px;
	min-height: 30px;
	margin-right: -10000px;
	left: 691px;
}

#u206
{
	width: 229px;
	padding-bottom: 18px;
}

#u197.MuseMenuActive,#u206:hover
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u206:active
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u206.MuseMenuActive
{
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u200-4_clip,#u208-4_clip
{
	width: 229px;
	height: 12px;
}

#u187-4,#u192-4,#u200-4,#u208-4
{
	margin-right: -10000px;
	top: 9px;
}

#pu561
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#u561
{
	z-index: 67;
	width: 345px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u558-4
{
	z-index: 73;
	margin-right: -10000px;
	left: 346px;
}

#u560
{
	z-index: 66;
	width: 345px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 575px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

